.movies-ac {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding-left: 20px;
  background-color: white;
}
.movies-ac h2 {
  border: 10px solid;
  letter-spacing: 20px;
  text-align: center;
  margin-top: 0;
  width: 280px;
}

.movie-thumbnail {
  display: grid;
  width: 300px;
  height: 350px;
  align-items: center;
}
.grid-ac {
  display: flex;
  flex-direction: column;
  background-color: #d5982f;
}

.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin-left: 20px;
}

.setting {
  display: inline-block;
}
.menu-aside {
  grid-column: 1;
}
.menu-aside button {
  width: 200px;

  margin-top: 70px;
  font-size: 2em;
  background-color: #f2d74c;
}
.menu-top {
  grid-column: 2;
  width: 300px;
  margin-left: 15px;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .movies-ac {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .movies-ac {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 2;
    grid-column: 2;
    gap: 10px;
    padding-left: 40px;
    padding-top: 40px;
    background-color: white;
  }

  .setting {
    position: absolute;
    left: 95%;
    top: 30%;
  }

  .grid-ac {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 200px 1fr;
    background-color: #d5982f;
  }
  .movies-ac h2 {
    border: 10px solid;
    letter-spacing: 70px;
    text-align: center;
    margin-top: 0;
    width: 75%;
  }
  .movie-thumbnail {
    display: grid;
    width: 100%;
    height: 350px;
    align-items: center;
  }
  .grids {
    display: grid;
  }
}
