.checkout {
  background-color: #52518b;
  box-sizing: border-box;
}
form i {
  color: black;
  font-size: 1em;
  margin: 5px;
}
.card,
i {
  display: flex;
  color: black;
  justify-content: space-evenly;
}
.container {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.row form input [type="text"] {
  width: 100%;
  background-color: #52518b;
  padding: 10px 0px 10px 0px;
}

.row label {
  display: block;
}

.row {
  flex: 50%;
}

p {
  font-family: "Ubuntu";
}

.checkout-recipe {
  background-color: #52518b;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
}

.recipe {
  grid-column: 1 / span 2;
  grid-row: 1/3;
}
