.background-ac {
  background-image: url(/images/group-pic.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: 50% 35%;
  padding-top: 1px;
  min-height: 100vh;
}

.loggin-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #52518b91;
  width: 39%;
  border-radius: 100px;
  margin-top: 45px;
}
.greeting h1 {
  font-family: "Montserrat";
}

.forms,
form {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  margin-bottom: 15px;
}
.forms input {
  padding: 10px;
}

.forms div {
  padding: 10px;
  background-color: white;
}
.forms div:checked ~ label {
  background-color: #f2d74c;
}

.cta-ma {
  padding: 15px 40px;
  font-size: 2em;
  background-color: #f2d74c;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 200px;
}

.flex {
  display: flex;
  gap: 10px;
}
