main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}
main > img {
  width: 100%;
  grid-column: 2 / span 3;
  grid-row: 1 / 1;
  height: 600px;
  padding-top: 45px;
}

.text {
  grid-row: 1/2;
  text-align: center;
}

h1 {
  grid-row: 2;
  grid-column: 2 / 4;
}

.review {
  grid-row: 1 /1;
  grid-column: 5 / span 5;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pay-cta {
  font-family: "Ubuntu" sans-serif;
  padding: 10px 21px;
  font-size: xx-large;
  grid-row: 2;
  grid-column: 2;
  align-self: end;
}

.review-area {
  border: 10px;
}

.movie-title {
  letter-spacing: 80px;
  margin-left: 48px;
  border-style: solid;
  height: 34.567px;
  width: 1044px;
  padding-left: 15px;
}
