p div * {
  border: solid;
}

.grid-ms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}
main > img {
  width: 100%;
  grid-column: 2 / span 3;
  grid-row: 1 / 1;
  height: 500px;
  padding-top: 45px;
  border: solid;
}

.text {
  grid-row: 1/2;
  text-align: center;
}

h1 {
  grid-row: 2;
  grid-column: 2 / 4;
}

.review {
  grid-row: 1 /1;
  grid-column: 5 / span 5;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid;
}
.review div {
  border: 2px solid;
  height: 61px;
  border-left-width: 0px;
  border-right-width: 0px;
  padding-left: 3px;
}

.pay-cta {
  font-family: "Ubuntu";
  padding: 10px 21px;
  font-size: xx-large;
  grid-column: 3;
  justify-self: center;
  color: white;
  background-color: #52518b;
  text-decoration: none;
  border-radius: 10px;
}

.info-area {
  border: solid;
  letter-spacing: 15px;
  display: grid;
}

.movie-title {
  letter-spacing: 80px;
  margin-left: 48px;
  border-style: solid;
  height: 34.567px;
  width: 1126px;
  padding-left: 15px;
  margin-top: 0px;
  margin-left: 0px;
}
.review-stars {
  align-self: end;
  letter-spacing: 0px;
  font-size: 2em;
}
.review-stars i {
  color: rgb(226, 226, 23);
}
.cost-info {
  background-color: green;
  text-align: center;
  font-size: 2em;
  margin-top: -3px;
  border: solid;
}
