@font-face { font family: "open montserrat"
<src C:\Users\denro\OneDrive\Desktop\Coding\Fonts\Montserrat;

}
header{
    background-color: #F2D74C ;
    background: #F2D74C;

}
nav li{
display: inline-block; 
font-family: Montsrrat;

}
.section{


}