@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2)
    format("woff2");
}

h1,
h2,
p {
  font-family: "Motserrat" Verdana, Geneva, Tahoma, sans-serif;
}

Header {
  background-color: #f2d74c;
  color: #fff;
  height: 100px;
}

nav li {
  display: inline;
  font-family: "Montsrrat";
  text-decoration: black;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}

.background {
  background-image: url(../images/Clipboard.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 70vh;
}

.background-movie-poster {
  width: 480px;
  height: 255px;
}
form {
  display: inline;
}

footer {
  background-color: #202020;
  color: #fff;
  height: 185px;
  text-decoration: none;
  text-decoration-color: #fff;
  font-weight: bold;
}

/*home page*/
.section-1 {
  background-image: url(/images/portrait-cheerful-afro-american-man-3d-glasses.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 70vh;
  background-color: #f2d74c;
}

/*contacts*/
.background-1 {
  background-image: url(/images/Filming.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 70vh;
}
