@font-face: {
  font-family: "Montserrat", sans-serif;
};

Header {
  background-color: #f2d74c;
  color: white;
}
nav li {
  display: inline;
  font-family: "Montsrrat";
}

.logo {
  width: 100px;
  height: 100px;
}
.background {
  background-image: url(../images/Clipboard.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.background .movie-poster {
  width: 300px;
  height: 300px;
}
form {
  display: inline;
}

footer {
  background-color: #202020;
  color: #fff;
}
